<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
    {{ partial "head.html" . }} {{ template "_internal/google_analytics.html" . }}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    {{ partial "header.html" . }}
        <div class="container">
        <div class="main">
                <section id="lead" class="py-1 text-center container">
                    <div class="row py-md-3">
                        <div class="col-lg-6 col-md-8 mx-auto">
                        </div>
                    </div>
                </section>
           
        </div>
            <h4>Teaching and Research Faculty</h4>
             <ul id="og-grid" class="og-grid">
                {{ range $.Site.Data.items.faculty }}
                <li>
                    <a href="{{.url}}" data-largesrc="{{.image}}" data-title="{{.title}}" data-description="{{with .description }}{{ . | markdownify }}{{ end }}" data-buttontext="{{.buttontext}}" name="Faculty">
                        <img src="{{.image}}" alt="{{.alt}}" />
                        <div class="photo-caption">{{.title}}</div>
                    </a>
                </li>
                {{ end }}
            </ul>

            <h4>News<a href="news" style="color: grey;font-size: x-small;text-decoration: none;"> learn more</a></h4> 
            <ul id="og-news" class="og-news">   
                {{ range $.Site.Data.news.news }}
                
                    <p href="{{.url}}" data-largesrc="{{.image}}" data-title="{{.title}}" data-description="{{with .description }}{{ . | markdownify }}{{ end }}" name="news">
                          <div class="brief">
                              
                            <img src="images/full/shout.png" alt="shout" width="18" height="21" style="vertical-align:middle">
                            {{.type}} [{{.time}}]: <a href="{{.url}}" style="color: black; text-decoration: none;">  {{.description}} </a>
                            </div> 
                    </p>
                {{ end }}
                
                </ul>
                {{ if (isset .Site.Data.items.student 0)}}
                <h4>Ph.D. Students</h4>
                <ul id="og-grid" class="og-grid">
                    {{ range $.Site.Data.items.student }}
                    <li>
                        <a href="{{.url}}" data-largesrc="{{.image}}" data-title="{{.title}}" data-description="{{.description }}" data-buttontext="{{.buttontext}}" name="Students">
                            <img src="{{.image}}" alt="{{.alt}}" />
                            <div class="photo-caption">{{.title}}</div>
                      
                        </a>
                    </li>
                    {{ end }}
                </ul>
           <!-- <div style="visibility: hidden;display: block;font-size: 0;clear: both;height: 0;margin-left: 80%;"></div>-->
            <h4>Postdocs</h4>
            <ul id="og-grid" class="og-grid">
                {{ range $.Site.Data.items.research }}
                <li>
                    <a href="{{.url}}" data-largesrc="{{.image}}" data-title="{{.title}}" data-description="{{with .description }}{{ . | markdownify }}{{ end }}" data-buttontext="{{.buttontext}}" name="Stundets">
                        <img src="{{.image}}" alt="{{.alt}}" />
                        <div class="photo-caption">{{.title}}</div>
                    </a>
                </li>
                {{ end }}
            </ul>
            <!--
            <h4>Alumni</h4>
            <ul id="og-grid" class="og-grid">
                {{ range $.Site.Data.items.alumni }}
                <li>
                    <a href="{{.url}}" data-largesrc="{{.image}}" data-title="{{.title}}" data-description="{{.description }}" data-buttontext="{{.buttontext}}" name="Alumni">
                        <img src="{{.image}}" alt="{{.alt}}" />
                        <div class="photo-caption">{{.title}}</div>
                  

                    </a>
                </li>
                {{ end }}
            </ul>
            -->
            {{end}} {{ partial "footer.html" . }}
        </div>
    </div>
    {{ partial "scripts.html" . }}
</body>

</html>
