<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
    {{ partial "head.html" . }} {{ template "_internal/google_analytics.html" . }}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    {{ partial "header.html" . }}
    <div class="container">

        <div class="main">
            <section id="lead" class="py-1 text-center container">
                <div class="row py-md-3">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <h2 class="fw-light"> Welcome!</h2>
                        <p class="lead text-muted">{{ with .Site.Params.leadtext }}{{ . | markdownify }}{{ end }}
                        </p>
                    </div>
                </div>
            </section>
            <h4>Teaching and Research Faculty</h4>
            <ul id="og-grid" class="og-grid">
                {{ range $.Site.Data.items.faculty }}
                <li>
                    <a href="{{.url}}" data-largesrc="{{.image}}" data-title="{{.title}}" data-description="{{with .description }}{{ . | markdownify }}{{ end }}" data-buttontext="{{.buttontext}}">
                        <img src="{{.image}}" alt="{{.alt}}" />
                        <div class="photo-caption">{{.title}}</div>
                    </a>
                </li>
                {{ end }}
            </ul>
            <h4>Research Staff</h4>
            <ul id="og-grid" class="og-grid">
                {{ range $.Site.Data.items.research }}
                <li>
                    <a href="{{.url}}" data-largesrc="{{.image}}" data-title="{{.title}}" data-description="{{with .description }}{{ . | markdownify }}{{ end }}" data-buttontext="{{.buttontext}}">
                        <img src="{{.image}}" alt="{{.alt}}" />
                        <div class="photo-caption">{{.title}}</div>
                    </a>
                </li>
                {{ end }}
            </ul>
            {{ if (isset .Site.Data.items.student 0)}}
            <h4>Research Students</h4>
            <ul id="og-grid" class="og-grid">
                {{ range $.Site.Data.items.student }}
                <li>
                    <a href="{{.url}}" data-largesrc="{{.image}}" data-title="{{.title}}" data-description="{{.description }}" data-buttontext="{{.buttontext}}">
                        <img src="{{.image}}" alt="{{.alt}}" />
                        <div class="photo-caption">{{.title}}</div>

                    </a>
                </li>
                {{ end }}
            </ul>
            {{end}} {{ partial "footer.html" . }}
        </div>
    </div>
    {{ partial "scripts.html" . }}
</body>

</html>
